<!-- footer -->
    <footer>
                
        <div class="footer_bar_left minus_margin_top"></div>
        <div class="footer_bar_right minus_margin_top"></div>
                
        <div class="wrapper">
            <!-- copyright -->
            <p class="copyright">&copy; 2020 DS Consult</p>
            <!--/copyright -->
        </div>

    <!-- Java Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='{{ "/js/slideshow.js" | relative_url }}' type="text/javascript"></script>
    <script src='{{ "/js/menu.js" | relative_url }}' type="text/javascript"></script>

    </footer>
    <!-- /footer -->

</body>
</html>