{% include header-post.html %}
    
    <div class="wrapper">
        <h1 class="row center_text">{{ page.title }}</h1>
    </div>

    <div class="portfolio_wrapper">
        
        <div id="slider-portfolio" class="portfolio_slider">
            {% for image in page.images %}
                <div class="single_slide">
                    <div class="portfolio_image" style="background-image:url('{{ image.image_path }}');"></div>
                </div>
            {% endfor %}
        </div>
        <div class="carousel-prev" onclick="prevSlide()">&#8249</div>
        <div class="carousel-next" onclick="nextSlide()">&#8250</div>
    </div>
            
    <div class="wrapper">
        <div class="row margin_bottom">
            <div class="portfolio_meta">
                <div class="meta_item">
                    <h3 class="row">Kategorie:</h3>
                    <p class="row">{{ page.kategorie }}</p>
                </div>
                <div class="meta_item">
                    <h3 class="row">Url:</h3>
                    <p class="row"><a href="{{ page.website }}" title="{{ page.website }}" target="_blank">{{ page.website }}</a></p>
                </div>
                <div class="meta_item">
                    <h3 class="row">Kunde:</h3>
                    <p class="row">{{ page.client }}</p> 
                </div>
                <div class="meta_item">
                    <h3 class="row">Branche:</h3>
                    <p class="row">{{ page.field }}</p> 
                </div>
                <div class="meta_item">
                    <h3 class="row">Skills:</h3>
                    <p class="row">{{ page.skills }}</p>
                </div>
            </div>
            <div class="portfolio_content">
                {{ content }}
            </div>
        </div>    
    </div>

{% include portfolio-footer.html %}